<h1>{{title}} - Default</h1>
<p> Welcome {{name}} </p>

<form action="/test/submit" method="post">
    <label for="idParam">Id: </label>
    <input type="number" name="idName" id="idParam">
    <button type="submit">Submit Id</button>
</form>